<launch>
  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find stereo_nav)/urdf/newModel.xml"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.5"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"  respawn="false" output="screen"
        args="-urdf -param robot_description -model test_robot -x $(arg x) -y $(arg y) -z $(arg z)"/>
</launch>
