<launch>

<!--  <group ns="realsense"> -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
	     <arg name="align_depth" value="true" />
       <!--
       <arg name="filters" value="pointcloud" />
       <arg name="enable_sync" value="true" />
       <arg name="color_fps" value="30" />
       <arg name="depth_fps" value="30" />
       -->
    </include>
<!--  </group> -->


  <remap from="cloud_in"             to="/rtabmap/cloud_map"/>
  <remap from="map"              to="/rtabmap/grid_map"/>

  <!-- Model convers rosrun xacro xacro -inorder -o *.urdf *.urdf.xacro-->

  <!-- <arg name="urdf_file" default="$(find xacro)/xacro -inorder '$(find stereo_nav)/urdf/turtlebot3_waffle.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" /> -->
  <param name="robot_description" textfile="$(find stereo_nav)/urdf/model.urdf" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <param name="rate" value="50" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>

  <include file="$(find stereo_nav)/launch/rtabmap.launch">
     <arg name="rtabmap_args" value="--delete_db_on_start" />
     <!-- <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw" />  -->
     <!-- <arg name="rgb_topic" value="/camera/color/image_raw" /> -->
     <!-- <arg name="camera_info_topic" value="/camera/color/camera_info" /> -->

     <arg name="depth_topic" value="/camera/depth/image_raw" />
     <arg name="rgb_topic" value="/camera/rgb/image_raw" />
     <arg name="camera_info_topic" value="/camera/rgb/camera_info" />

     <arg name="approx_sync" value="true" />

     <arg name="localization" value="false" />
  </include>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find stereo_nav)/param/costmap_common_params_waffle.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find stereo_nav)/param/costmap_common_params_waffle.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find stereo_nav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find stereo_nav)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find stereo_nav)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find stereo_nav)/param/dwa_local_planner_params_waffle.yaml" command="load" />

    <remap from="cmd_vel" to="/cmd_vel"/>
    <remap from="odom" to="/odom"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="false" />
  </node>

  <!-- rviz -->
  <group if="true">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find stereo_nav)/rviz/navigation_stereo.rviz"/>
  </group>
</launch>
