<launch>

<!--  <group ns="realsense"> -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
	     <arg name="align_depth" value="true" />
       <!--
       <arg name="filters" value="pointcloud" />
       <arg name="enable_sync" value="true" />
       <arg name="color_fps" value="30" />
       <arg name="depth_fps" value="30" />
       -->
    </include>
<!--  </group> -->


  <remap from="cloud_in"             to="/rtabmap/cloud_map"/>
  <remap from="map"              to="/rtabmap/grid_map"/>

``<!-- Model -->
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find stereo_nav)/urdf/turtlebot3_waffle.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>

  <include file="$(find stereo_nav)/launch/rtabmap.launch">
     <arg name="rtabmap_args" value="--delete_db_on_start" />
     <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw" />
     <arg name="rgb_topic" value="/camera/color/image_raw" />
     <arg name="camera_info_topic" value="/camera/color/camera_info" />
     <arg name="approx_sync" value="false" />

     <!-- use actionlib to send goals to move_base -->
     <param name="use_action_for_goal" type="bool" value="true"/>
     <remap from="move_base"            to="/move_base"/>

     <!-- inputs -->
     <!--  <remap from="scan"            to="/scan"/> -->
     <remap from="odom"            to="/odom"/>
     <remap from="rgbd_image"       to="rgbd_image"/>

     <!-- output -->
     <!-- <remap from="grid_map" to="/map"/> -->
     <remap from="octomap_grid" to="/map"/>

     <!-- RTAB-Map's parameters -->
     <param name="Reg/Strategy"                 type="string" value="1"/>
     <param name="Reg/Force3DoF"                type="string" value="true"/>
     <param name="GridGlobal/MinSize"           type="string" value="20"/>

     <!-- localization mode -->
     <param name="Mem/IncrementalMemory" type="string" value="true"/>
  </include>

  <group ns="rtabmap">
    <!--
    <node pkg="rtabmap_ros" type="rgbd_sync" name="rgbd_sync" output="screen">

      <remap from="rgb/image"         to="/camera/rgb/image_raw"/>
      <remap from="depth/image"       to="/camera/depth/image_raw"/>
      <remap from="rgb/camera_info"   to="/camera/rgb/camera_info"/>
      -->
<!--
      <remap from="rgb/image"         to="/realsense/camera/color/image_raw"/>
      <remap from="depth/image"       to="/realsense/camera/aligned_depth_to_color/image_raw"/>
      <remap from="rgb/camera_info"   to="/realsense/camera/color/camera_info"/>
-->
<!--
    </node>
    -->

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
      <!-- <param name="database_path"       type="string" value="~/.ros/rtabmap.db"/> -->
      <!-- <param name="frame_id"            type="string" value="base_footprint"/> -->

      <param name="depth_topic"   type="string" value="/camera/aligned_depth_to_color/image_raw"/>
      <param name="rgb_topic"   type="string" value="/camera/color/image_raw"/>
      <param name="camera_info_topic"   type="string" value="/camera/color/camera_info"/>
      <param name="approx_sync"   type="bool" value="false"/>

      <!-- <param name="subscribe_scan"      type="bool"   value="false"/> -->
<!--      <param name="approx_sync"         type="bool"   value="true"/> -->

      <!-- use actionlib to send goals to move_base -->
      <param name="use_action_for_goal" type="bool" value="true"/>
      <remap from="move_base"            to="/move_base"/>

      <!-- inputs -->
      <!--  <remap from="scan"            to="/scan"/> -->
      <remap from="odom"            to="/odom"/>
      <remap from="rgbd_image"       to="rgbd_image"/>

      <!-- output -->
      <!-- <remap from="grid_map" to="/map"/> -->
      <remap from="octomap_grid" to="/map"/>

      <!-- RTAB-Map's parameters -->
      <param name="Reg/Strategy"                 type="string" value="1"/>
      <param name="Reg/Force3DoF"                type="string" value="true"/>
      <param name="GridGlobal/MinSize"           type="string" value="20"/>

      <!-- localization mode -->
      <param name="Mem/IncrementalMemory" type="string" value="true"/>
    </node>
  </group>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find stereo_nav)/param/costmap_common_params_waffle.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find stereo_nav)/param/costmap_common_params_waffle.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find stereo_nav)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find stereo_nav)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find stereo_nav)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find stereo_nav)/param/dwa_local_planner_params_waffle.yaml" command="load" />

    <remap from="cmd_vel" to="/cmd_vel"/>
    <remap from="odom" to="odom"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="false" />
  </node>

  <!-- rviz -->
  <group if="true">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find stereo_nav)/rviz/navigation_stereo.rviz"/>
  </group>
</launch>
