<launch>
  <param name="robot_description" textfile="$(find stereo_nav)/urdf/newModel.xml" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <param name="rate" value="50" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>

  <!-- rviz -->
  <group if="true">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find stereo_nav)/rviz/test.rviz"/>
  </group>
</launch>
