<launch>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth" value="true" />

    <arg name="color_width" value="640" />
    <arg name="color_height" value="360" />
    <arg name="color_fps" value="30" />

    <arg name="depth_width" value="640" />
    <arg name="depth_height" value="360" />
    <arg name="depth_fps" value="30" />
  </include>

  <rosparam>
    /camera/stereo_module/emitter_enabled: 0
    /camera/stereo_module enable_auto_exposure: False
    /camera/stereo_module exposure: 18500
    /camera/stereo_module gain: 100
  </rosparam>
</launch>
